@model LoginDto
@{
    ViewData["Title"] = "Login";
}
<div class="form-box">
    <h2>Login</h2>
<form asp-controller="AppUser" asp-action="Login" method="post" asp-antiforgery="true">


        <label asp-for="@Model.UserName">Username:</label>
        <input asp-for="@Model.UserName" class="input" placeholder="Username">
        <span asp-validation-for="@Model.UserName" class="text-danger"></span>

        <label asp-for="@Model.Password">Password:</label>
        <div style="position: relative; display: block;">
            <input asp-for="@Model.Password" id="passwordInput" class="input" type="password" required>
            <i class="fa-regular fa-eye" id="togglePasswordIcon"
               style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer; color: #666;"></i>
        </div>
        <span asp-validation-for="@Model.UserName" class="text-danger"></span>

        <button class="btn" onclick="login()">Login</button>
</form>

    <p>No account? <a asp-controller="AppUser" asp-action="Register">Register</a></p>
</div>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const passwordInput = document.querySelector('#passwordInput');
            const toggleIcon = document.querySelector('#togglePasswordIcon');

            if(toggleIcon) {
                toggleIcon.addEventListener('click', function () {
                    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordInput.setAttribute('type', type);

                    this.classList.toggle('fa-eye');
                    this.classList.toggle('fa-eye-slash');
                });
            }
        });
    </script>
}