@model IndexVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <h2>Blogs</h2>
    <div class="filter">
        <select id="categoryFilter">
            @foreach(var category in Model.Categories)
            {
                <option value="all">@category.Name</option>
            }
            
        </select>
    </div>

    <div class="fav-list">
        @foreach (var blog in Model.Blogs)
        {
            <div class="fav-card">
                <h3>@blog.Title</h3>
                <p>@blog.Text</p>
                <div class="d-flex align-items-center gap-2">
                    <form method="post" asp-controller="favorite" asp-action="addtolist" asp-route-blogId="@blog.Id">
                        <button type="submit"><i class="fas fa-heart"></i></button>
                    </form>
                    <br>
                    <a asp-controller="Blog"
                       asp-action="Get"
                       asp-route-id="@blog.Id"
                       class="btn">
                        Read more
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="blog-list" id="blogList"></div>
    <div class="container">
    </div>
